<launch>
  <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="agent_num" value="0" />
    <arg name="cmd_topic_name"  value="/tb3_0/jackal_velocity_controller/cmd_vel"/>
  </include>
  <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="agent_num" value="1" />
    <arg name="cmd_topic_name"  value="/tb3_1/jackal_velocity_controller/cmd_vel"/>
  </include>
  <!-- <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="agent_num" value="2" />
    <arg name="cmd_topic_name"  value="/tb3_2/jackal_velocity_controller/cmd_vel"/>
  </include>
  <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="agent_num" value="3" />
    <arg name="cmd_topic_name"  value="/tb3_3/jackal_velocity_controller/cmd_vel"/>
  </include> -->

  <!-- Navigation for person robots -->
  <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="agent_num" value="0"/>
    <arg name="robot_name" value="person"/>
    <arg name="cmd_topic_name"  value="/person_0/cmd_vel"/>
    <arg name="params_file" value="person_teb_local_planner_params.yaml"/>
  </include>

  <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="agent_num" value="1"/>
    <arg name="robot_name" value="person"/>
    <arg name="cmd_topic_name"  value="/person_0/cmd_vel"/>
    <arg name="params_file" value="person_teb_local_planner_params.yaml"/>
  </include>

  <!-- <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="agent_num" value="2"/>
    <arg name="robot_name" value="person"/>
    <arg name="cmd_topic_name"  value="/person_0/cmd_vel"/>
    <arg name="params_file" value="person_teb_local_planner_params.yaml"/>
  </include>

  <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="agent_num" value="3"/>
    <arg name="robot_name" value="person"/>
    <arg name="cmd_topic_name"  value="/person_0/cmd_vel"/>
    <arg name="params_file" value="person_teb_local_planner_params.yaml"/>
  </include> -->
</launch>
