<launch>
  <arg name="floor"  default="$(find follow_ahead_rl)/models/empty_floor/model.sdf"/>

  <node name="spawn_sdf0" pkg="gazebo_ros" type="spawn_model" args="-sdf -model floor1 -x 0 -y 0 -z 0 -Y 0 -file $(arg floor)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- To use other worlds change the file path below -->
    <arg name="world_name" value="$(find follow_ahead_rl)/worlds/cylinder.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find follow_ahead_rl)/launch/spawn_robot.launch"/>

</launch>

