<launch>
  <arg name="floor"  default="$(find follow_ahead_rl)/models/empty_floor/model.sdf"/>
  <arg name="marker"  default="$(find follow_ahead_rl)/urdf/obstacle_urdfs/marker.urdf"/>

  <node name="spawn_sdf0" pkg="gazebo_ros" type="spawn_model" args="-sdf -model floor1 -x 0 -y 0 -z 0 -Y 0 -file $(arg floor)" />

  <!-- Floor for Marker -->
  <node name="spawn_sdf1" pkg="gazebo_ros" type="spawn_model" args="-sdf -model floor2 -x 0 -y 0 -z 1.5 -Y 0 -file $(arg floor)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find follow_ahead_rl)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find follow_ahead_rl)/launch/spawn_robot.launch"/>

  <include file="$(find follow_ahead_rl)/launch/spawn_obstacles.launch"/>

  <include file="$(find follow_ahead_rl)/launch/navigation.launch"/>

  <include file="$(find follow_ahead_rl)/launch/navigation.launch">
    <arg name="robot_name" value="person"/>
    <arg name="cmd_topic_name"  value="/person_0/cmd_vel"/>
    <arg name="params_file" value="person_teb_local_planner_params.yaml"/>
  </include>

  <!-- <node name="tf_node" pkg="follow_ahead_rl" type="tf_node.py" output="screen"/> -->

  <node name="spawn_marker" pkg="gazebo_ros" type="spawn_model" ns="marker"
    args="-x 0 -y 0 -z 2.7 -R 0 -P 0 -Y 0 -urdf -file $(arg marker) -model marker"
  />

</launch>