<robot name="simple_cylinder">
  <link name="cylinder_base">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.5" length="1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.5" length="1" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="cylinder_base">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>